.main-container{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.table-container{
    width: 100%;
    max-width: 1280px;
    margin: 24px;
}

th{
    display: flex;
    justify-content: center;
    font-weight: 500;
    width: 100%;
    font-size: 20px;
    padding: 4px 4px;
}

tr{
    display: flex;
    gap: 8px;
}

thead > tr {
    border-top: 2px solid #6591AE;
    border-bottom: 2px solid #6591AE;
    
}

tbody > tr {
    border-bottom: 1px solid #6591AE;
    
}

tbody{
    position: relative;
    top: 6px;
}

td{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
    text-align: center;
}